$base:	#FFFBE6;
$dark-pink: #D4145A;
$text: #534741;
$dark-blue: #07779E;

.cart-page{
    background-color: $base;
    background-image: url("../images/узоры-каталог.svg");
    background-size: cover; //фоновое изображение узоров масштабируется так, чтобы полностью заполнить фон
    margin: 0 auto;
}

.cart-body {
    display: flex;
    flex-direction: column;
    padding: 30px 100px;
    gap: 80px;
}

.cake-info {
    display: flex;
    flex-direction: column;
    font-family: "Arial Black";

    &_title {
        text-transform: uppercase;
        font-size: 30px;
        color: $dark-pink;
    }

    &_body {
        display: flex;
        gap: 50px;
        margin-bottom: 30px;
    }

    &_image {
        width: 400px;
        height: 400px;
        background-color: white;
        border-radius: 70px;
        padding: 10px;
    }

    &_description {
        display: flex;
        flex-direction: column;
        gap: 15px;

        &_name {
            font-size: 30px;
            color: $text;
        }

        &_text {
            font-size: 24px;
            color: $text;
        }

        &_sum {
            font-size: 35px;
            color: $dark-pink;
        }
    }

    .total-sum{
        font-size: 40px;
        color: $dark-pink;
    }

}

.pay-options {
    display: flex;
    flex-direction: column;
    gap: 15px;

    input {
        display: none;
    }

    &_checkbox {
        display: flex;

        &-input {
            position: absolute;
            z-index: -1;
            opacity: 0;

            &_active+label::before {
                background-color: $dark-blue;
                background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
            }
        }

        &-label {
            display: inline-flex;
            align-items: center;
            user-select: none;
            font-family: "Hoefler Text";
            color: $text;

            font-size: 24px;

            &::before {
                content: '';
                display: inline-block;
                width: 25px;
                height: 25px;
                flex-shrink: 0;
                flex-grow: 0;
                border: 3px solid $dark-blue;
                background-color: #fff;
                border-radius: 50px;
                margin-right: 15px;
                background-repeat: no-repeat;
                background-position: center center;
                background-size: 50% 50%;
            }
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    gap: 30px;

    &-input {
        height: 40px;
        border: 1px solid $dark-blue;
        border-radius: 10px;
        padding: 7px 10px;
        font-size: 27px;
    }
}

.manage {
    display: flex;
    justify-content: end;
    font-family: "Arial Black";

    &-request-button {
        width: 300px;
        height: 90px;
        border: 1px solid $dark-blue;
        border-radius: 50px;
        font-size: 25px;
        color: $dark-blue;
    }
}
