$base:	#FFFBE6;
$text: #534741;
$light-blue: #BDEDEF;
$light-yellow: #FDFFB0;
$block-pink: #FFD7FA;
$ight-brown: #B7B197;
$button-light-blue: #DEF9FC;
$button-dark-blue: #07779E;
$dark-pink: #D4145A;
$summ-pink: #FF7BAC;
$orange: #FAB03C;
.catalog-page{
    background-color: $base;
    background-image: url("../images/узоры-каталог.svg");
    background-size: cover; //фоновое изображение узоров масштабируется так, чтобы полностью заполнить фон
    margin: 0 auto;
}

.cakes{
    margin-top: 100px;
    margin-left: 43px;
    margin-right: 43px;
    .catalog-title{
        font-family: "Arial Black";
        font-size: 45pt;
        color: $text;
        margin-bottom: 30px;
    }
    .catalog-title-right{
        margin-right: 43px;
        font-family: "Arial Black";
        font-size: 45pt;
        color: $text;
        margin-bottom: 30px;
        text-align: right;
    }
    &-section{

    }
}

.cells{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
    gap: 40px 20px;
    &-item{
        width: 400px;
        background-color: white;
        border-radius: 70px;
        padding-left: 10px;
        padding-right: 10px;
        padding-bottom: 20px;
    }
    h2{
        font-family: "Arial Black";
        color: $summ-pink;
        text-align: center;
    }
    p{
        font-family: 'Source Serif Variable';
        color: $text;
        position: relative;
        text-align: center;
    }

    .active {
        border: 1px solid $dark-pink;
    }
}

.manage {
    display: flex;
    justify-content: center;
    margin: 20px;

    &-request-button {
        width: 300px;
        height: 90px;
        border: 1px solid $button-dark-blue;
        border-radius: 50px;
        font-size: 30px;
    }
}